USE [master]
GO
/****** Object:  Database [taxi]    Script Date: 30.04.2025 19:18:11 ******/
CREATE DATABASE [taxi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taxi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\taxi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'taxi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\taxi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taxi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taxi]
GO
/****** Object:  Table [dbo].[Автомобили]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Автомобили](
	[автомобиль_id] [int] IDENTITY(1,1) NOT NULL,
	[модель] [nvarchar](50) NOT NULL,
	[марка] [nvarchar](50) NOT NULL,
	[номерной_знак] [nvarchar](20) NOT NULL,
	[цвет] [nvarchar](30) NOT NULL,
	[тариф_id] [int] NOT NULL,
	[класс_авто] [nvarchar](30) NOT NULL,
	[активен] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[автомобиль_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Адреса]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Адреса](
	[адрес_id] [int] IDENTITY(1,1) NOT NULL,
	[город] [nvarchar](50) NOT NULL,
	[улица] [nvarchar](100) NOT NULL,
	[дом] [nvarchar](10) NOT NULL,
	[подъезд] [nvarchar](10) NULL,
	[квартира] [nvarchar](10) NULL,
	[начальный_адрес] [bit] NOT NULL,
	[конечный_адрес] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[адрес_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[заказ_id] [int] IDENTITY(1,1) NOT NULL,
	[пользователи_id] [int] NOT NULL,
	[автомобиль_id] [int] NULL,
	[адрес_отправления_id] [int] NOT NULL,
	[адрес_назначения_id] [int] NOT NULL,
	[дата_заказа] [datetime] NOT NULL,
	[способ_оплаты] [nvarchar](20) NOT NULL,
	[статус_заказа] [nvarchar](20) NOT NULL,
	[итоговая_цена] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[заказ_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Получение_скидки]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Получение_скидки](
	[получ_скидки_id] [int] IDENTITY(1,1) NOT NULL,
	[заказ_id] [int] NOT NULL,
	[скидка_id] [int] NOT NULL,
	[сумма_скидки] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[получ_скидки_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[пользователи_id] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](100) NOT NULL,
	[номер_телефона] [nvarchar](20) NOT NULL,
	[статус] [nvarchar](20) NOT NULL,
	[логин] [nvarchar](50) NOT NULL,
	[пароль] [nvarchar](255) NOT NULL,
	[дата_регистрации] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[пользователи_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Скидки]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Скидки](
	[скидка_id] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](50) NOT NULL,
	[процент_скидки] [decimal](5, 2) NOT NULL,
	[описание] [nvarchar](255) NOT NULL,
	[дата_начала] [datetime] NOT NULL,
	[дата_окончания] [datetime] NOT NULL,
	[активна] [bit] NOT NULL,
 CONSTRAINT [PK__Скидки__223DA30C391FE0F2] PRIMARY KEY CLUSTERED 
(
	[скидка_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тарифы]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тарифы](
	[тариф_id] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](50) NOT NULL,
	[цена] [decimal](10, 2) NOT NULL,
	[описание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[тариф_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Уведомления]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Уведомления](
	[уведомление_id] [int] IDENTITY(1,1) NOT NULL,
	[пользователи_id] [int] NOT NULL,
	[заказ_id] [int] NULL,
	[тип_уведомления] [nvarchar](30) NOT NULL,
	[сообщение] [nvarchar](255) NOT NULL,
	[временная_метка] [datetime] NOT NULL,
	[прочитано] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[уведомление_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[услуга_id] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](100) NOT NULL,
	[цена] [decimal](10, 2) NOT NULL,
	[описание] [nvarchar](255) NULL,
	[активна] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[услуга_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги_в_заказе]    Script Date: 30.04.2025 19:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги_в_заказе](
	[услуга_в_заказе_id] [int] IDENTITY(1,1) NOT NULL,
	[заказ_id] [int] NOT NULL,
	[услуга_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[услуга_в_заказе_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Автомобили] ON 

INSERT [dbo].[Автомобили] ([автомобиль_id], [модель], [марка], [номерной_знак], [цвет], [тариф_id], [класс_авто], [активен]) VALUES (1, N'Solaris', N'Hyundai', N'А123БВ777', N'белый', 1, N'седан', 1)
INSERT [dbo].[Автомобили] ([автомобиль_id], [модель], [марка], [номерной_знак], [цвет], [тариф_id], [класс_авто], [активен]) VALUES (2, N'Camry', N'Toyota', N'В456ТК777', N'черный', 2, N'седан', 1)
INSERT [dbo].[Автомобили] ([автомобиль_id], [модель], [марка], [номерной_знак], [цвет], [тариф_id], [класс_авто], [активен]) VALUES (3, N'E-Class', N'Mercedes', N'С789АВ777', N'серый', 3, N'премиум', 1)
SET IDENTITY_INSERT [dbo].[Автомобили] OFF
GO
SET IDENTITY_INSERT [dbo].[Адреса] ON 

INSERT [dbo].[Адреса] ([адрес_id], [город], [улица], [дом], [подъезд], [квартира], [начальный_адрес], [конечный_адрес]) VALUES (1, N'Москва', N'Ленина', N'10', N'1', N'25', 1, 0)
INSERT [dbo].[Адреса] ([адрес_id], [город], [улица], [дом], [подъезд], [квартира], [начальный_адрес], [конечный_адрес]) VALUES (2, N'Москва', N'Пушкина', N'15', N'3', NULL, 0, 1)
INSERT [dbo].[Адреса] ([адрес_id], [город], [улица], [дом], [подъезд], [квартира], [начальный_адрес], [конечный_адрес]) VALUES (3, N'Москва', N'Гагарина', N'20', NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Адреса] OFF
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([заказ_id], [пользователи_id], [автомобиль_id], [адрес_отправления_id], [адрес_назначения_id], [дата_заказа], [способ_оплаты], [статус_заказа], [итоговая_цена]) VALUES (3, 1, 1, 1, 2, CAST(N'2023-05-15T08:30:00.000' AS DateTime), N'карта', N'завершен', CAST(350.00 AS Decimal(10, 2)))
INSERT [dbo].[Заказы] ([заказ_id], [пользователи_id], [автомобиль_id], [адрес_отправления_id], [адрес_назначения_id], [дата_заказа], [способ_оплаты], [статус_заказа], [итоговая_цена]) VALUES (4, 2, 3, 3, 4, CAST(N'2023-05-16T12:45:00.000' AS DateTime), N'наличные', N'в_пути', CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[Заказы] ([заказ_id], [пользователи_id], [автомобиль_id], [адрес_отправления_id], [адрес_назначения_id], [дата_заказа], [способ_оплаты], [статус_заказа], [итоговая_цена]) VALUES (5, 3, 2, 5, 6, CAST(N'2023-05-17T18:20:00.000' AS DateTime), N'онлайн', N'водитель_назначен', CAST(450.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Получение_скидки] ON 

INSERT [dbo].[Получение_скидки] ([получ_скидки_id], [заказ_id], [скидка_id], [сумма_скидки]) VALUES (5, 3, 3, CAST(35.00 AS Decimal(10, 2)))
INSERT [dbo].[Получение_скидки] ([получ_скидки_id], [заказ_id], [скидка_id], [сумма_скидки]) VALUES (6, 4, 4, CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[Получение_скидки] ([получ_скидки_id], [заказ_id], [скидка_id], [сумма_скидки]) VALUES (7, 5, 5, CAST(19.60 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Получение_скидки] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([пользователи_id], [ФИО], [номер_телефона], [статус], [логин], [пароль], [дата_регистрации]) VALUES (1, N'Иванов Иван Иванович', N'+79161234567', N'активен', N'ivanov', N'qwerty123', CAST(N'2025-04-29T09:39:47.143' AS DateTime))
INSERT [dbo].[Пользователи] ([пользователи_id], [ФИО], [номер_телефона], [статус], [логин], [пароль], [дата_регистрации]) VALUES (2, N'Петров Петр Петрович', N'+79162345678', N'активен', N'petrov', N'asdfgh456', CAST(N'2025-04-29T09:39:47.143' AS DateTime))
INSERT [dbo].[Пользователи] ([пользователи_id], [ФИО], [номер_телефона], [статус], [логин], [пароль], [дата_регистрации]) VALUES (3, N'Сидорова Анна Михайловна', N'+79163456789', N'активен', N'sidorova', N'zxcvbn789', CAST(N'2025-04-29T09:39:47.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Скидки] ON 

INSERT [dbo].[Скидки] ([скидка_id], [название], [процент_скидки], [описание], [дата_начала], [дата_окончания], [активна]) VALUES (3, N'Приветственная', CAST(10.00 AS Decimal(5, 2)), N'Скидка для новых пользователей', CAST(N'1905-07-15T00:00:00.000' AS DateTime), CAST(N'1905-06-04T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Скидки] ([скидка_id], [название], [процент_скидки], [описание], [дата_начала], [дата_окончания], [активна]) VALUES (4, N'Летняя', CAST(15.00 AS Decimal(5, 2)), N'Сезонная скидка', CAST(N'1905-07-10T00:00:00.000' AS DateTime), CAST(N'1905-06-08T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Скидки] ([скидка_id], [название], [процент_скидки], [описание], [дата_начала], [дата_окончания], [активна]) VALUES (5, N'Постоянный клиент', CAST(5.00 AS Decimal(5, 2)), N'Для часто заказывающих', CAST(N'1905-07-15T00:00:00.000' AS DateTime), CAST(N'1905-06-04T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Скидки] OFF
GO
SET IDENTITY_INSERT [dbo].[Тарифы] ON 

INSERT [dbo].[Тарифы] ([тариф_id], [название], [цена], [описание]) VALUES (1, N'Эконом', CAST(100.00 AS Decimal(10, 2)), N'Бюджетный вариант поездки')
INSERT [dbo].[Тарифы] ([тариф_id], [название], [цена], [описание]) VALUES (2, N'Комфорт', CAST(200.00 AS Decimal(10, 2)), N'Поездка с повышенным комфортом')
INSERT [dbo].[Тарифы] ([тариф_id], [название], [цена], [описание]) VALUES (3, N'Бизнес', CAST(300.00 AS Decimal(10, 2)), N'Премиум класс с лучшими автомобилями')
SET IDENTITY_INSERT [dbo].[Тарифы] OFF
GO
SET IDENTITY_INSERT [dbo].[Уведомления] ON 

INSERT [dbo].[Уведомления] ([уведомление_id], [пользователи_id], [заказ_id], [тип_уведомления], [сообщение], [временная_метка], [прочитано]) VALUES (3, 3, 4, N'статус_заказа', N'Ваш заказ #1 завершен', CAST(N'2025-04-29T10:00:26.143' AS DateTime), 0)
INSERT [dbo].[Уведомления] ([уведомление_id], [пользователи_id], [заказ_id], [тип_уведомления], [сообщение], [временная_метка], [прочитано]) VALUES (4, 4, 5, N'статус_заказа', N'Водитель выехал по вашему заказу #2', CAST(N'2025-04-29T10:00:26.143' AS DateTime), 0)
INSERT [dbo].[Уведомления] ([уведомление_id], [пользователи_id], [заказ_id], [тип_уведомления], [сообщение], [временная_метка], [прочитано]) VALUES (5, 5, 3, N'скидка', N'Вам доступна скидка 10% на следующий заказ', CAST(N'2025-04-29T10:00:26.143' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Уведомления] OFF
GO
SET IDENTITY_INSERT [dbo].[Услуги] ON 

INSERT [dbo].[Услуги] ([услуга_id], [название], [цена], [описание], [активна]) VALUES (1, N'Детское кресло', CAST(100.00 AS Decimal(10, 2)), N'Для детей от 0 до 7 лет', 1)
INSERT [dbo].[Услуги] ([услуга_id], [название], [цена], [описание], [активна]) VALUES (2, N'Перевозка животных', CAST(150.00 AS Decimal(10, 2)), N'Перевозка домашних питомцев', 1)
INSERT [dbo].[Услуги] ([услуга_id], [название], [цена], [описание], [активна]) VALUES (3, N'Некурящий салон', CAST(50.00 AS Decimal(10, 2)), N'Гарантия поездки без табачного запаха', 1)
SET IDENTITY_INSERT [dbo].[Услуги] OFF
GO
SET IDENTITY_INSERT [dbo].[Услуги_в_заказе] ON 

INSERT [dbo].[Услуги_в_заказе] ([услуга_в_заказе_id], [заказ_id], [услуга_id]) VALUES (2, 3, 1)
INSERT [dbo].[Услуги_в_заказе] ([услуга_в_заказе_id], [заказ_id], [услуга_id]) VALUES (3, 4, 3)
INSERT [dbo].[Услуги_в_заказе] ([услуга_в_заказе_id], [заказ_id], [услуга_id]) VALUES (4, 5, 4)
SET IDENTITY_INSERT [dbo].[Услуги_в_заказе] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Автомоби__5A898D6649AFC14A]    Script Date: 30.04.2025 19:18:12 ******/
ALTER TABLE [dbo].[Автомобили] ADD UNIQUE NONCLUSTERED 
(
	[номерной_знак] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__5EB64DCCF03002C7]    Script Date: 30.04.2025 19:18:12 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__8145ED7A85FBB63B]    Script Date: 30.04.2025 19:18:12 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[номер_телефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Автомобили] ADD  DEFAULT ((1)) FOR [активен]
GO
ALTER TABLE [dbo].[Адреса] ADD  DEFAULT ((0)) FOR [начальный_адрес]
GO
ALTER TABLE [dbo].[Адреса] ADD  DEFAULT ((0)) FOR [конечный_адрес]
GO
ALTER TABLE [dbo].[Заказы] ADD  DEFAULT (getdate()) FOR [дата_заказа]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ('активен') FOR [статус]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT (getdate()) FOR [дата_регистрации]
GO
ALTER TABLE [dbo].[Скидки] ADD  CONSTRAINT [DF__Скидки__активна__4AB81AF0]  DEFAULT ((1)) FOR [активна]
GO
ALTER TABLE [dbo].[Уведомления] ADD  DEFAULT (getdate()) FOR [временная_метка]
GO
ALTER TABLE [dbo].[Уведомления] ADD  DEFAULT ((0)) FOR [прочитано]
GO
ALTER TABLE [dbo].[Услуги] ADD  DEFAULT ((1)) FOR [активна]
GO
ALTER TABLE [dbo].[Автомобили]  WITH CHECK ADD FOREIGN KEY([тариф_id])
REFERENCES [dbo].[Тарифы] ([тариф_id])
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([автомобиль_id])
REFERENCES [dbo].[Автомобили] ([автомобиль_id])
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([адрес_назначения_id])
REFERENCES [dbo].[Адреса] ([адрес_id])
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([адрес_отправления_id])
REFERENCES [dbo].[Адреса] ([адрес_id])
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([пользователи_id])
REFERENCES [dbo].[Пользователи] ([пользователи_id])
GO
ALTER TABLE [dbo].[Получение_скидки]  WITH CHECK ADD FOREIGN KEY([заказ_id])
REFERENCES [dbo].[Заказы] ([заказ_id])
GO
ALTER TABLE [dbo].[Получение_скидки]  WITH CHECK ADD  CONSTRAINT [FK__Получение__скидк__60A75C0F] FOREIGN KEY([скидка_id])
REFERENCES [dbo].[Скидки] ([скидка_id])
GO
ALTER TABLE [dbo].[Получение_скидки] CHECK CONSTRAINT [FK__Получение__скидк__60A75C0F]
GO
ALTER TABLE [dbo].[Уведомления]  WITH CHECK ADD FOREIGN KEY([заказ_id])
REFERENCES [dbo].[Заказы] ([заказ_id])
GO
ALTER TABLE [dbo].[Уведомления]  WITH CHECK ADD FOREIGN KEY([пользователи_id])
REFERENCES [dbo].[Пользователи] ([пользователи_id])
GO
ALTER TABLE [dbo].[Услуги_в_заказе]  WITH CHECK ADD FOREIGN KEY([заказ_id])
REFERENCES [dbo].[Заказы] ([заказ_id])
GO
ALTER TABLE [dbo].[Услуги_в_заказе]  WITH CHECK ADD FOREIGN KEY([услуга_id])
REFERENCES [dbo].[Услуги] ([услуга_id])
GO
USE [master]
GO
